@using Client.Components.Layouts

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
<MudThemeProvider Theme="darkTheme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>
@code{
    MudTheme darkTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Black = "#27272f",
            Background = AppColors.DarkGrey,
            BackgroundGrey = "#27272f",
            Surface = AppColors.Blue800,
            DrawerBackground = AppColors.Blue800,
            DrawerText = AppColors.Blue300,
            DrawerIcon = AppColors.Blue300,
            AppbarBackground = AppColors.Blue800,
            AppbarText = AppColors.Blue300,
            TextPrimary = AppColors.Blue50,
            TextSecondary = AppColors.Blue300,
            Primary = AppColors.Primary,
            Secondary = AppColors.Secondary,
            ActionDefault = "#adadb1",
            ActionDisabled = "rgba(255,255,255, 0.26)",
            ActionDisabledBackground = "rgba(255,255,255, 0.12)",
            Divider = "rgba(255,255,255, 0.12)",
            DividerLight = "rgba(255,255,255, 0.06)",
            TableLines = "rgba(255,255,255, 0.12)",
            LinesDefault = "rgba(255,255,255, 0.12)",
            LinesInputs = "rgba(255,255,255, 0.3)",
            TextDisabled = "rgba(255,255,255, 0.2)"
        }
    };
}